.circle {

    position:relative;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background: #21201c;
    z-index: 1;
}

.wrapper{
    transform-style: preserve-3d;
    perspective: 500px;
}
.orbitingCircle {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: #FAD757;
    transform: translate(-50%, -50%);
    animation: orbitMotion 4s linear infinite;
}

@keyframes orbitMotion {
    from {
        transform: translate(-50%, -50%) rotateY(0deg) translateZ(72px)rotateY(360deg);
    }
        to {
            transform: translate(-50%, -50%) rotateY(360deg) translateZ(72px) rotateY(0deg);
        }
}